.editor-tree-item-icon {
    display: inline-block;
    min-width: 16px;
    height: 16px;
}

.editor-tree-item-name {
    display: inline-block;
    margin-left: 4px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.editor-tree-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    pointer-events: auto;
}

.editor-tree-item-expanded {
    rotate: 90deg;
}

.editor-tree-item-selected {
    background-color: #88888844;
}

.editor-tree-item:hover {
    background-color: #88888888;
}

.file-type-folder {
    color: #61afef;
}

.file-type-js {
    color: #f1e05a;
}

.file-type-json {
    color: #f1e05a;
}

.file-type-ts {
    color: #61afef;
}

.file-type-py {
    color: #61afef;
}

.file-type-yaml {
    color: #61afef;
}

.file-type-md {
    color: #61afef;
    fill: #61afef;
}
