@keyframes spinning {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.spinning-infinite {
    animation: spinning 1s linear infinite;
}

.color-error {
    color: #ff8888;
    fill: #ff8888;
}

.color-success {
    color: #88ff88;
    fill: #88ff88;
}

.color-progress {
    color: #ffcc88;
    fill: #ffcc88;
}
