@keyframes spinning {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.spinning-infinite {
    animation: spinning 1s linear infinite;
}

.color-error {
    color: #ff8888;
    fill: #ff8888;
}
@media (prefers-color-scheme: light) {
    .color-success {
        color: #44cc44;
        fill: #44cc44;
    }

    .color-progress {
        color: #cc8844;
        fill: #cc8844;
    }
}
@media (prefers-color-scheme: dark) {
    .color-success {
        color: #88ff88;
        fill: #88ff88;
    }

    .color-progress {
        color: #ffcc88;
        fill: #ffcc88;
    }
}
.blank-div-message {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    color: #888888;
    height: 100%;
}
