/* 
* NOTES: 
* - Prefer using Griffel style engine (re-exported from FluentUI)
* - The second option is the home-made style engine from low/utils. It doesn't have minification
*   so use it only when necessary.
*
* ONLY use this file for:
* - Things that need to be outside of FluentProvider
* - Hacks to libraries
* - Other exceptional cases
*/
:root {
    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    /* links in document */
    --link-text-color-light: #0000ee;
    --link-text-color-dark: #8888ff;
    --link-text-background-light: transparent;
    --link-text-background-dark: transparent;
}

* {
    min-width: 0;
}

body {
    margin: 0;
    place-items: center;
    min-width: 320px;
    overflow: hidden;
}

#react-root {
    width: 100vw;
}
/* This needs to be here so it can still apply in case of render error */
#react-root > div {
    height: 100vh;
}

/*
* HACKS
*/

/* react-grid-layout drag handle */
/* make sure its always on top */
.react-grid-item > .react-resizable-handle::after {
    z-index: 99999;
}

/* react-grid-layout drag handle */
/* adapt to dark mode */
@media (prefers-color-scheme: dark) {
    .react-grid-item > .react-resizable-handle::after {
        border-color: rgba(255, 255, 255, 0.4);
    }
}
