div.loading-container {
    background-color: #555;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

img.loading-logo {
    width: 100%;
    max-width: 128px;
}

div.loading-bar {
    max-width: 256px;
    width: 100%;
    box-sizing: border-box;
    height: 28px;
    position: relative;
    background: #555;
    margin-top: 20px;
    padding: 10px;
}

/* 3d effect */
.loading-bar>span {
    display: block;
    height: 100%;
    border-radius: 25px;
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.3),
        inset 0 -1px 1px rgba(0, 0, 0, 0.4);
    position: relative;
    overflow: hidden;
}

/* animated stripes */
.loading-bar>span:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: linear-gradient(-45deg,
            rgba(0, 0, 0, 0.15) 25%,
            transparent 25%,
            transparent 50%,
            rgba(0, 0, 0, 0.15) 50%,
            rgba(0, 0, 0, 0.15) 75%,
            transparent 75%,
            transparent);
    z-index: 1;
    background-size: 50px 50px;
    animation: move 0.7s linear infinite;
    overflow: hidden;
}

@keyframes move {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 50px 50px;
    }
}

/* theme colors */
.loading-bar>span.green {
    background-color: #ADFEB8;
}

.loading-bar>span.blue {
    background-color: #B0BAFD;
}

.loading-bar>span.red {
    background-color: #FFA49D;
}

.loading-bar>span.yellow {
    background-color: #FEE199;
}
