header.celer-header {
    overflow: hidden;
    display:flex;
    min-height: 80px;
}

header.celer-header.top {
    flex-direction: column;
}

header.celer-header.bottom {
    flex-direction: column-reverse;
}

.celer-toolbar {
    /* height: 32px; */
    overflow:hidden;
}

div.celer-title {
    display: flex;
    flex-direction: row;
}

/* div.celer-toolbar-main {
    height: 32px;
    overflow:hidden;
} */

div.celer-title > h1 {
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

img.celer-logo {
    width: 32px;
    height: 32px;
}