#map-root {
    height: 100%;
}

#lmap-container {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#map-error {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    color: #888888;
    height: 100%;
}
