/*
 * Celer default theme
 *
 * Use this as an example for creating new themes.
 * You can also use other CSS attributes, not just the colors and background colors.
 *
 */

/* Root element for the document viewer */
#doc-container {
    color: white;
}

/* Section banner */
.docsection-head {
    background-color: #001a00;
}
.docsection-container {
    background-color: #001a00;
}

/* Alternating colors for the lines*/
@media (prefers-color-scheme: dark) {
    .docline-container:nth-child(odd) .docline-head {
        background-color: #242424;
    }
    .docline-container:nth-child(even) .docline-head {
        background-color: #292929;
    }
}

@media (prefers-color-scheme: light) {
    .docline-container:nth-child(odd) .docline-head {
        background-color: #dddddd;
    }
    .docline-container:nth-child(even) .docline-head {
        background-color: #ffffff;
    }
}

/* Background color of the primary column */
.docline-body {
    background-color: #001a00;
}

/* Note blocks */
.docnote-container {
    color: black;
}

/* Alternating color for note block */
.docnote-container:nth-child(odd) {
    background-color: #8888ee;
}

.docnote-container:nth-child(even) {
    background-color: #ffcc33;
}

/* Diagnostic blocks */
/* Text color */
.docline-diagnostic-head {
    color: white;
}
.docline-diagnostic-body {
    color: black;
}

/* Different colors for different diagnostic types*/
/* Error */
.docline-diagnostic-head.docline-diagnostic-error {
    background-color: #990000;
}
.docline-diagnostic-body.docline-diagnostic-error {
    background-color: #ff6666;
}
/* Warning */
.docline-diagnostic-head.docline-diagnostic-warn {
    background-color: #883300;
}
.docline-diagnostic-body.docline-diagnostic-warn {
    background-color: #ffbb00;
}
/* Other */
.docline-diagnostic-head {
    background-color: #8888ee;
}
.docline-diagnostic-body {
    background-color: #ccccff;
}

/* Darken the line on hover */

@media (prefers-color-scheme: dark) {
    .docline-head:hover {
        background-color: #393939 !important;
    }
}
@media (prefers-color-scheme: light) {
    .docline-head:hover {
        background-color: #bbbbbb !important;
    }
}

/* Ending block */
#doc-end {
    background-color: #001a00;
}
