/*
 * Granatus theme inspired by the BOTW granatus google sheet doc
 */

#doc-container {
    color: black;
}

.docsection-head {
    background-color: #3388ff;
    border: 3px solid black;
}

.docline-body {
    border-bottom: 1px solid black;
    background-color: #ffd866;
}

/* Different colors for different counter types */
.docline-body.docline-body-shrine,
.docline-body.docline-body-tower {
    background-color: black;
    color: white;
}
.docline-body.docline-body-warp {
    background-color: #a2c4c4;
}
.docline-body.docline-body-boss {
    background-color: #ff4444;
}
.docline-body.docline-body-korok {
    background-color: #c07ba0;
}

@media (prefers-color-scheme: dark) {
    .docnote-container {
        color: white;
        background-color: #666666;
        border: 1px solid #eeeeee;
    }
}

@media (prefers-color-scheme: light) {
    .docnote-container {
        color: black;
        background-color: #eeeeee;
    }
}

/* Diagnostic blocks */
/* Text color */
.docline-diagnostic-head {
    color: white;
}
.docline-diagnostic-body {
    color: black;
}

/* Different colors for different diagnostic types*/
/* Error */
.docline-diagnostic-head.docline-diagnostic-error {
    background-color: #990000;
}
.docline-diagnostic-body.docline-diagnostic-error {
    background-color: #ff6666;
}
/* Warning */
.docline-diagnostic-head.docline-diagnostic-warn {
    background-color: #883300;
}
.docline-diagnostic-body.docline-diagnostic-warn {
    background-color: #ffbb00;
}
/* Other */
.docline-diagnostic-head {
    background-color: #8888ee;
}
.docline-diagnostic-body {
    background-color: #ccccff;
}

/* Darken the line on hover */
@media (prefers-color-scheme: light) {
    .docline-head:hover {
        background-color: rgba(0, 0, 0, 0.1) !important;
    }
}
@media (prefers-color-scheme: dark) {
    .docline-head:hover {
        background-color: rgba(255, 255, 255, 0.1) !important;
    }
}
