.docline-container {
    box-sizing: border-box;
}

.docline-main {
    display: flex;
}

.docline-head {
    min-width: 64px;
    border-right: 4px solid;
    box-sizing: border-box;
    position: relative;
    text-align: right;
    transition-duration: 0.1s;
    cursor: pointer;
}

.doc-current-line .docline-head {
    border-right: 24px solid;
}

.docline-counter {
    /* place counter on top of the border line */
    position: absolute;
    top: 0;
    left: 0;
    right: -4px;
    height: 24px;
    padding: 4px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.doc-current-line .docline-counter {
    right: -24px;
}

.docline-body {
    box-sizing: border-box;
    padding: 4px;
    flex-grow: 1;
    display: flex;
    width: min(calc(100% - var(--note-min-width)) - 64px, 316px);
}

.docline-text-container {
    width: 100%;
}
.docline-text-container.docline-icon-text {
    width: calc(100% - 50px);
}

.docline-primary-text span {
    word-wrap: break-word;
}
.docline-secondary-text span {
    word-wrap: break-word;
}

.docline-icon-container {
    min-width: 50px;
    height: 50px;
}

.docline-icon-container img {
    width: 50px;
}

.docnote-block {
    padding: 4px;
    box-sizing: border-box;
}

.docnote-container {
    display: none; /* hide by default */
    transition-duration: 0.1s;
    left: 0px;
    right: 0px;
    box-sizing: border-box;
}

.docnote-container-expanded {
    left: unset;
    z-index: 100;
}

.docnote-container.docnote-container-expanded .docnote-block {
    height: auto;
}

@container (max-width: 100px) {
    .docnote-container {
        /* need this so 100% can be propagated to children */
        width: 100%;
    }
    .docnote-container .docnote-block {
        height: 32px;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .docnote-container .docnote-block span {
        white-space: nowrap;
    }
    .docnote-container:hover .docnote-block span {
        white-space: normal;
    }
}

.docline-diagnostic-head {
    padding: 4px 4px 0 4px;
}
.docline-diagnostic-body {
    padding: 4px 0 4px 4px;
    word-break: break-word;
}

.docpreface-block {
    padding: 4px 0px 4px 8px;
    box-sizing: border-box;
}

/* 
 * These provide the baseline for changing rich text
 * color with color scheme. Each theme should override
 * this based on if each surface has light or dark background
 */
@media (prefers-color-scheme: light) {
    span.rich-text,
    div.docline-counter {
        color: var(--rich-text-fg-light, inherit);
        background-color: var(--rich-text-bg-light, inherit);
    }
}
@media (prefers-color-scheme: dark) {
    span.rich-text,
    div.docline-counter {
        color: var(--rich-text-fg-dark, inherit);
        background-color: var(--rich-text-bg-dark, inherit);
    }
}
