.docnote-block {
    padding: 4px;
    box-sizing: border-box;
}

.docnote-container {
    display: none; /* hide by default */
    transition-duration: 0.1s;
    left: 0px;
    right: 0px;
    box-sizing: border-box;
}

.docnote-container-expanded {
    left: unset;
    z-index: 100;
}

.docnote-container.docnote-container-expanded .docnote-block {
    height: auto;
}

@container (max-width: 100px) {
    .docnote-container {
        /* need this so 100% can be propagated to children */
        width: 100%;
    }
    .docnote-container .docnote-block {
        height: 32px;
        min-height: 32px;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .docnote-container .docnote-block span {
        white-space: nowrap;
    }
    .docnote-container:hover .docnote-block span {
        white-space: normal;
    }
}
